@media all and (min-width: 480px) {
    .ChangePassword {
      padding: 60px 0;
    }
  
    .ChangePassword form {
      margin: 0 auto;
      max-width: 480px;
    }
  }

  .ChangePassword h2 {
    text-align: center;
    margin-bottom: 25px;

}