@media all and (min-width: 480px) {
  .UploadTable {
    padding: 60px 0;
  }
}

.UploadTable h2 {
    text-align: center;
    margin-bottom: 25px;

}

.UploadTable .upload-submit {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 15px;
}

.UploadTable .upload-progress {
  height: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.UploadTable .known {
  background-color: #7ab869;
}