.UploadProfile form {
    padding-bottom: 15px;
  }
  
  .UploadProfile form textarea {
    height: 300px;
    font-size: 24px;
  }

  .UploadProfile h2 {
    text-align: center;
    margin-bottom: 25px;

}